@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Kalam', serif, cursive;
    height: 100%;
    max-width: 900px;
    font-size: 16px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

h1 {
    margin: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    align-items: center;
}

nav li {
    margin: 8px;
}

section {
    padding: 16px 0;
}

.about-me-container {
    display: flex;
}

.about-me-container img {
    margin: 0 auto;
}

article {
    margin-right: 16px;
    text-align: justify;
}

h2 {
    margin: 0;
    margin-bottom: 12px;
}

.portrait {
    width: 300px;
    border-radius: 5%;
    flex-shrink: 0;
}

details {
    margin: 5px 0;
}

summary {
    cursor: pointer;
    list-style-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg");
}

summary > * {
    display: inline;
}

.proyect-title h3 {
    display: inline;
}

details img {
    width: 50%;
    margin: 0 auto;
    align-content: center;
}

.proyect-description {
    text-align: justify;
}

.icon {
    font-size: 2em;
    color: #323232;
    margin: 0 8px;
}

a {
    font-weight: 600;
    text-decoration: none;
}

#skills-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skills-container > * {
    font-size: 2em;
    width: 2em;
    margin-top: 8px;
}

footer {
    margin-top: auto;
    padding: 12px 0;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .about-me-container {
      flex-direction: column;
    }
}