@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

body {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;
    font-size: 16px;
    font-family: 'Caveat', cursive;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
}

nav h1 {
    font-size: 2em;
    margin: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    /*flex-direction: column;
    align-items: center;
    align-content: center;*/
    align-self: center;
    margin-left: auto;
}
nav ul li {
    display: inline-flex;
    margin: 8px;
}

section {
    display: flex;
    padding: 16px 0;    
}

section article {
    margin-right: 16px;
    flex-direction: column;
}

section aside img {
    width: 300px;
}

p {
    display: block;
}

h2 {
    font-size: 1.5em;
    margin: 0;
}